body {
     background-color: #8A00D3;    
     font-style: normal;
     font-family: Arial, Helvetica, sans-serif;
}

body h1 {
     color: #F4D72C;
     text-align: center;  
}

body p {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 18px;
     color: white;
     padding-top: 85px,     
}
